@import "default";

$black: #000000;
$white: #ffffff;

.outer {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.keepcenter {
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: none;
  padding: rem(15) rem(30);
  line-height: 1;
  font-size: rem(21);
  border-radius: 100px;
  align-self: flex-start;
  color: #ffffff;
  background: linear-gradient(95.77deg, #00FF38 5.82%, #00DD3E 51.82%);
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  text-decoration: none !important;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s linear;

  &_block {
      display: block;
      width: 100%;
  }

  &_style_1 {
    &:hover {
      box-shadow: 0px 0px 50px #FFA800; 
    }
  }

  &_style_2 {
    background: transparent;
    border: 1px solid #00D13B;
    color: #00D13B;
    padding: rem(20) rem(30);
    font-size: 18px;
    min-width: 254px;

    &:hover {
      box-shadow: 0px 0px 50px rgba(143, 0, 255, 0.3);
      background: linear-gradient(95.77deg, #00FF38 5.82%, #00DD3E 51.82%);
      color: #ffffff;
    }
  }

  &_style_3 {
    padding: rem(22) rem(30);
    font-size: rem(18);
    background: linear-gradient(297.48deg, #FF7A00 44.54%, #FFC000 96.68%);

    &:hover {
      box-shadow: 0px 0px 50px rgba(143, 0, 255, 0.3);
    }
  }

  &_style_4 {
    padding: rem(22) rem(30);
    font-size: rem(18);
    background: #8F00FF;

    &:hover {
      box-shadow: 0px 0px 50px rgba(0, 221, 62, 0.4);
    }
  }

  &_style_5 {
    background: #7B00DC;
    padding: rem(10) rem(30);
    box-shadow: -9px -9px 35px rgba(199, 38, 255, 0.15), 9px 9px 35px rgba(114, 187, 255, 0.45);
    transition: all 0.2s linear;

    &:hover {
      transform: translateY(1px);
    }
  }
}

.color-black {
  color: $black;
}

.font-family-2 {
  font-family: 'Yeseva One', cursive;
}

.head-screen-background {
  position: absolute;
  top: 0; right: -30px;
  max-width: 1070px;

  img {
    width: 58vw;
  }
}

.head-screen {
  position: relative;

  &__container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
  }

  &__inner {
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
  }

  &__content {
    max-width: 55%;
  }

  &__caption {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 56px;
  }

  &__info {
    margin-left: 100px;
    text-align: center;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__obj-1 {
    max-width: 323px;
    width: 20.18vw;
    position: absolute;
    left: 0; bottom: 45px;
  }
}

.header {
  padding-top: 64px;
  font-size: rem(18);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 160px;
  
  &__logo {
    font-weight: bold;
  }
}

.nav {
  font-size: rem(18);
  color: $white;

  &__list {
    display: flex;
  }

  &__item {
    font-weight: bold;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none !important;
  }
}

.head-screen__dependent-by-bg {
  color: $black;
}

.list-screen-1-background {
  position: absolute;
  left: 0; bottom: -40px;
  max-width: 555px;
  width: 34.5vw;
  height: 100%;
}

.list-screen-1 {
  &__inner {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  &__content {
    max-width: 64%;
    margin-left: auto;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__list-container {
    margin-bottom: 45px;
  }

  &__list {
    margin-bottom: 40px;
    display: flex;

    &:last-child {
      margin-bottom: 45px;
    }
  }

  &__item {
    padding-left: 35px;
    position: relative;
    flex-basis: calc(50% - 10px);
    
    &:first-child {
      margin-right: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 30px;
      height: 30px;
      background-image: url("../img/icon-1.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  &__footnote {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
  }
}

.advantages {
  position: relative;
  margin-bottom: -30px;
  overflow: hidden;
  padding-bottom: 40px;

  &__title {
    margin-left: 205px;
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
  }

  &__item {
    text-align: center;
    flex-basis: calc(33.333% - 20px);
    border-radius: 20px;
    background: $white;
    padding: 68px 15px 30px 15px;
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      z-index: -1;
    }

    &_left {
      box-shadow: 40px -10px 50px rgba(229, 233, 246, 0.4);

      &::before {
        width: 208px;
        height: 190px;
        left: -97px;
        bottom: -37px;
        background-image: url("../img/pic-2.png");
      }
    }

    &_center {
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

      &::before {
        width: 220px;
        height: 210px;
        left: 50%; bottom: -35px;
        transform: translateX(-50%);
        background-image: url("../img/pic-3.png");
        z-index: 0;
      }
    }

    &_right {
      box-shadow: 10px -40px 50px rgba(229, 233, 246, 0.4);
      
      &::before {
        width: 208px;
        height: 190px;
        right: -97px;
        bottom: -37px;
        background-image: url("../img/pic-4.png");
      }
    }
  }

  &__item-title {
    margin-bottom: 32px;
  }

  &__text {
    color: #7D7987;
  }
}

.teaser {
  &__inner {
    display: flex;
  }

  &__image {
    text-align: center;
    flex-grow: 1;
  }

  &__content {
    padding-top: 90px;
    flex-basis: 50%;
    padding-left: 30px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__info {
    margin-bottom: 60px;
  }

  &__text {
    margin-bottom: 30px;
  }
}

.card-screen {
  &__inner {
    padding-bottom: 50px;
  }
}

.card {
  padding: 40px 110px;
  background: linear-gradient(297.48deg, #FF7A00 44.54%, #FFC000 96.68%);
  box-shadow: 10px 10px 50px rgba(255, 214, 0, 0.4);
  border-radius: 24px;
  color: $white;

  &__title {
    margin-bottom: 50px;
    text-align: center;
  }

  &__content {
    display: flex;
  }

  &__image-container {
    margin-right: 30px;
    text-align: center;
  }

  &__image {
    max-width: 165px;
    max-height: 190px;
    margin-bottom: 10px;
    object-fit: contain;
  }

  &__caption {
    font-size: rem(12);
    width: 165px;
  }

  &__info {
  }

  &__name {
    margin-bottom: 20px;
  }

  &__text-block {
    display: flex;
  }

  &__text {
    margin-bottom: 0;

    &_splited {
      flex-basis: calc(50% - 15px);
      
      &:first-child {
        margin-right: 30px;
      }
    }
  }
}

.owl-theme .owl-nav {
  margin-top: 45px;
  margin-bottom: -24px;
}

.owl-carousel .owl-nav button.owl-next > span, 
.owl-carousel .owl-nav button.owl-prev > span { 
  display: none;
}

.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev {
  width: 30px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-image: url("../img/icon-2.png");
}

.owl-carousel .owl-nav button.owl-prev {
  transform: rotate(-180deg);
  margin-right: 138px;
}

.owl-carousel .owl-nav button.owl-next {
  margin-left: 138px;
}

.owl-theme .owl-dots .owl-dot {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.owl-theme .owl-dots .owl-dot span {
  background: #00D13B;
  opacity: 0.3;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
  background: #00D13B;
  opacity: 1;
}



.list-screen-2 {
  &__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__content {
    max-width: 910px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__list {
    padding-bottom: 20px;
  }

  &__item {
    margin-bottom: 40px;
    padding-left: 75px;
    position: relative;

    &::before {
      content: attr(data-number);
      font-family: 'Yeseva One', cursive;
      font-size: rem(85);
      color: #FF7A00;
      line-height: 0.8;
      position: absolute;
      bottom: 0; left: 0;
      text-align: center;
    }
  }

  &__item-title {
    margin-bottom: 20px;
  }
}


.features {
  &__inner {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
  }

  &__title {
    text-align: center;
    margin-bottom: 70px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: 30px;
  }

  &__item {
    flex-basis: calc(33.333% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    background: $white;
    box-shadow: 10px 10px 50px rgba(229, 233, 246, 0.6);
    border-radius: 20px;
    text-align: center;
    padding: 10px 15px 30px;
  }

  &__picture {
    height: 120px;
    margin-bottom: 10px;
  }

  &__icon {
    object-fit: contain;
  }

  &__caption {
    margin-bottom: 0;
  }
}

.gallery {
  &__inner {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  &__title {
    text-align: center;
    margin-bottom: 55px;

    &-center {
      display: inline-block;
      max-width: 920px;
    }
  }
}

.reviews {
  color: $white;
  margin-bottom: 80px;

  &__inner {
    padding-bottom: 80px;
  }

  &__container {
    background: linear-gradient(262.96deg, #7B00DC 11.64%, #0D70FF 84.53%);
    box-shadow: 0px 0px 50px rgba(143, 0, 255, 0.3);
    border-radius: 24px;
    padding: 30px 20px 0px;
  }

  &__title {
    text-align: center;
    margin-bottom: 35px;
  }

  &__list {
  }

  &__item {
    text-align: center;
    padding: 0px 25px 70px;
  }

  &__image {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 164px;
      
    &:before {
        display: block;
        padding-top: 100%;
        border-radius: 50%;
        content: "";
    }

    &-inner {
      position: absolute !important;
      top: 0; left: 0;
      width: 100%;
      height: 100%;

      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
    }

  }
  
  &__image {
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
    max-height: 100%;
  }

  &__caption {
    font-weight: bold;
    margin-bottom: 22px;
  }

  &__text {
    margin-bottom: 0;
  }
}

.reviews__list.owl-theme .owl-nav,
.reviews__list.owl-theme .owl-dots {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
}

.reviews__list.owl-theme .owl-nav {
  bottom: -45px;
}

.reviews__list.owl-theme .owl-dots {
  bottom: -48px;
}

.reviews__list.owl-carousel .owl-nav button.owl-next, 
.reviews__list.owl-carousel .owl-nav button.owl-prev {
  background-image: url("../img/icon-8.png");
}

.reviews__list.owl-theme .owl-dots .owl-dot span {
  background: #8F00FF;
}

.reviews__list.owl-theme .owl-dots .owl-dot.active span, 
.reviews__list.owl-theme .owl-dots .owl-dot:hover span {
  background: #8F00FF;
}

.order-screen {
  &__inner {
    display: flex;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0; left: 0;
      max-width: 225px;
      max-height: 479px;
      width: 14vw;
      height: 29vw;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url("../img/pic-13.png");
      transform: translateX(-100%);
    }
  }
  &__left-column {
    flex-basis: 54.7%;
    margin-right: 40px;
  }

  &__right-column {
  }

  &__title {
    margin-bottom: 24px;
  }
  &__subtitle {
    margin-bottom: 80px;
  }
  &__text-block {}
  &__text {
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  &__inner {}
}


.form-box {
  max-width: 348px;
  padding-top: 85px;
}

.form {
  padding-bottom: 28px;

  &__inner {
    text-align: center;
  }

  &__title {
    text-align: center;
    padding: 0px 15px;
    margin-bottom: 24px;
  }
  &__price-box {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  &__price-previous {
    color: #7B00DC;
    font-size: rem(24);
    text-align: center;
    font-weight: bold;
    text-decoration: line-through;
    margin-right: 30px;
  }
  &__price-current {
    font-family: 'Yeseva One', cursive;
    font-size: rem(48);
  }
  &__text-block {}
  &__text-block {}

  &__input {
    margin-bottom: 16px;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 12px;
    border: none;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(143, 0, 255, 0.3);
    border-radius: 20px;
  }

  &__button {
    margin-bottom: 26px;
  }
}

.footer {
  background: linear-gradient(37.8deg, #7B00DC 10.25%, #0D70FF 105.21%);
  padding: 40px 0px;
  color: #ffffff;

  a {
    color: #ffffff;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left-column {
    flex-basis: 25%;
  }

  &__right-column {
    flex-basis: 56.2%;
  }

  &__logo,
  &__nav {
    margin-bottom: 18px;
  }

  &__nav {
    flex-wrap: wrap;
  }

  &__list {
    font-size: rem(12);
    max-width: 270px;
  }

  &__item {
    margin-bottom: 5px;
  }
}

.burger {
  display: none;
}

.menu__logo {
  display: none;
  font-size: rem(18);
  font-weight: bold;
  color: #ffffff;
  margin-top: auto;
  margin-bottom: 30px;
}
// Responsive(Adaptive)
// ////////////////////
// ////////////////////
// ////////////////////
// ////////////////////
// ////////////////////
// ////////////////////
// ////////////////////
// ////////////////////
// ////////////////////
@media (max-width: 1199px) { 
  body {
    font-size: rem(12);
  }

  h1, h2 {
    line-height: 1.14;
  }

  h1 {
    font-size: rem(28);
  }

  h2 {
    font-size: rem(22);
  }

  h3 {
    font-size: rem(18);
  }

  h4, h5 {
    font-size: rem(14);
    font-weight: bold;
  }


    
  .button {

    &_style_1 {
      width: 100%;

      &:hover {
        box-shadow: none; 
      }
    }

    &_style_2 {
      width: 100%;
      &:hover {
        box-shadow: none;
      }
    }

    &_style_3 {
      width: 100%;

      &:hover {
        box-shadow: none;
      }
    }

    &_style_4 {
      width: 100%;

      &:hover {
        box-shadow: none;
      }
    }

    &_style_5 {
      width: 100%;
    }
  }

  .keepcenter {
    max-width: 320px;
    padding: 0px 15px;


    &_wide {
      max-width: 100%;
      padding: 0;
    }
  }


  .burger {
    position: relative;
    display: block;
    z-index: 100;
    margin-right: 15px;

    &__line {
      width: 20px;
      height: 3px;
      background: #ffffff;
      display: block;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  .header {
    position: relative;
    padding-top: 23px;
    margin-bottom: 120px;

    &__logo {
      font-size: 12px;
      padding-left: 15px;
    }
  }

  .head-screen-background {
    right: 0;

    img {
      min-width: 275px;
    }
  }
  .head-screen__obj-1 {
    left: -65px;
    bottom: 27px;
    min-width: 182px;
  }
  .head-screen {
    &__content {
      max-width: 320px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }

    &__caption {
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      max-width: 170px;
      margin-bottom: 32px;
    }

    &__title {
      text-align: center;
      margin-bottom: 36px;
    }

    &__info {
      margin-left: 0;
      font-size: 12px;
      font-weight: bold;
      
    }

    &__text-block {
      padding: 0px 40px;
      margin-bottom: 30px;
    }

    &__text {
      margin-bottom: 16px;

      &:last-of-type {
        margin-bottom: 0px;
      }
    }

    &__dependent-by-bg {
      color: #ffffff;
    }

  }
  
  

  .menu {
    position: absolute;
    background: #00D13B;
    box-shadow: 0px 0px 50px rgba(143, 0, 255, 0.3);
    top: 0; right: -100vw;
    padding: 0px 50px 0px 15px;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    z-index: 99;

    &__inner {
      padding-top: 80px;
      max-width: 221px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__logo {
      display: block;
    }

    .nav {
      &__list {
        flex-direction: column;
      }

      &__item {
        margin-right: 0;
        margin-bottom: 20px;
        font-weight: normal;
      }
    }
  }


  .list-screen-1-background {
    bottom: 15px;
    min-width: 180px;
    z-index: -1;
  }

  .list-screen-1 {
    &__inner {
      padding-top: 10px;
      padding-bottom: 50px;
      opacity: 0.99;
    }

    &__content {
      max-width: 100%;
      margin-left: 0;
    }

    &__title {
      margin-bottom: 30px;
      text-align: center;
      font-size: 17px;
    }

    &__list-container {
      margin-bottom: 6px;
    }

    &__list {
      font-size: 12px;
      flex-direction: column;
      padding-bottom: 1px;
      margin-bottom: 0;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &__item {
      padding-left: 0;
      flex-basis: 100%;
      margin-bottom: 18px;
      
      &:first-child {
        margin-right: 0;
      }

      &::before {
        display: none;
      }
    }

    &__footnote {
      font-size: 8px;
    }
  }

    
  .advantages {
    margin-bottom: 0px;

    &__title {
      margin-left: 0px;
      text-align: center;
      margin-bottom: 30px;
    }

    &__list {
      flex-direction: column;
    }

    &__item {
      padding: 20px 10px 12px 10px;

      &:not(:last-child) {
        margin-right: 0px;
      }

      &_left {
        &::before {
          width: 123px;
          height: 113px;
          right: -41px;
          top: -56px;
          left: auto;
          bottom: auto;
          background-image: url("../img/pic-14.png");
        }
      }

      &_center {
        margin-bottom: 23px;
        padding-bottom: 62px;

        &::before {
          width: 101px;
          height: 78px;
          bottom: -22px;
        }
      }

      &_right {
        &::before {
          height: 123px;
          width: 113px;
          right: auto;
          left: -43px;
          bottom: -34px;
          background-image: url("../img/pic-15.png");
        }
      }
    }

    &__item-title {
      margin-bottom: 8px;
    }

    &__text {
      font-size: 12px;
      margin-bottom: 0;
    }
  }


  .teaser {
    position: relative;

    &__inner {
    }
  
    &__image {
      position: absolute;
      bottom: 0; left: 0px;
      z-index: 0;
      max-width: 260px;
    }
  
    &__content {
      padding-top: 5px;
      flex-basis: 100%;
      padding-left: 0px;
    }
  
    &__title {
      text-align: center;
      margin-bottom: 30px;
    }
  
    &__info {
      font-size: 12px;
      text-align: center;
      margin-bottom: 190px;
    }
  
    &__text {
      margin-bottom: 20px;
    }

    &__button-holder {
      text-align: center;
      padding-bottom: 50px;
    }
  }
  
    
  .card {
    padding: 30px 15px;
    border-radius: 16px;
    color: $white;

    &__title {
      margin-bottom: 30px;
    }

    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__image-container {
      margin-right: 0px;
      margin-bottom: 20px;
    }

    &__image {
      // max-width: 165px;
      // max-height: 190px;
      // margin-bottom: 10px;
      // object-fit: contain;
    }

    &__caption {
      font-size: 8px;
      // width: 165px;
    }

    &__info {
    }

    &__name {
      font-size: 12px;
      text-align: center;
    }

    &__text-block {
      font-size: 12px;
      flex-direction: column;
    }

    &__text {
      margin-bottom: 8px;

      &_splited {
        flex-basis: 100%;
        
        &:first-child {
          margin-right: 0px;
        }
      }
    }
  }

  .owl-theme .owl-nav {
    margin-top: 30px;
  }

  .owl-carousel .owl-nav button.owl-prev {
    margin-right: 100px;
  }
  .owl-carousel .owl-nav button.owl-next {
    margin-left: 100px;
  }

  .owl-carousel .owl-nav button.owl-next, 
  .owl-carousel .owl-nav button.owl-prev {
    width: 25px;
    height: 18px;
  }
























  .active .menu {
    right: -30px;
  }
}





@media (max-width: 567px) {
  .list-screen-1__list-container {
    padding-left: 85px;
  }

  .teaser__image {
    left: -61px;
  }
}










