@import "default";

$black: #000000;
$white: #ffffff;

.outer {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.keepcenter {
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  font-family: 'Montserrat', sans-serif;;
  font-weight: bold;
  border: none;
  padding: rem(16);
  font-size: rem(24);
  align-self: flex-start;
  color: #ffffff;
  border-radius: 8px;
  background: red;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  text-decoration: none !important;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: all 0.4s;

  &_block {
      display: block;
      width: 100%;
  }

  &:hover {
      transform: scale(1.1);
  }
}

.color-black {
  color: $black;
}

.font-family-2 {
  font-family: 'Yeseva One', cursive;
}

.head-screen-background {
  position: absolute;
  top: 0; right: -30px;
  width: 58vw;
  max-width: 1070px;
}

.head-screen {
  position: relative;

  &__container {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
  }

  &__inner {
    padding-top: 64px;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
  }

  &__content {
    max-width: 55%;
  }

  &__caption {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 56px;
  }

  &__info {
    margin-left: 100px;
    text-align: center;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__obj-1 {
    max-width: 323px;
    width: 20.18vw;
    position: absolute;
    left: 0; bottom: 45px;
  }
}

.header {
  font-size: rem(18);
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
  
  &__logo {
    font-weight: bold;
  }
}

.nav {
  font-size: rem(18);
  color: $white;

  &__list {
    display: flex;
  }

  &__item {
    font-weight: bold;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none !important;
  }
}

.head-screen__dependent-by-bg {
  color: $black;
}

.list-screen-1-background {
  position: absolute;
  left: 0; bottom: -40px;
  max-width: 555px;
  width: 34.5vw;
  height: 100%;
}

.list-screen-1 {
  &__inner {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  &__content {
    max-width: 64%;
    margin-left: auto;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__list-container {
    margin-bottom: 45px;
  }

  &__list {
    margin-bottom: 40px;
    display: flex;

    &:last-child {
      margin-bottom: 45px;
    }
  }

  &__item {
    padding-left: 35px;
    position: relative;
    flex-basis: calc(50% - 10px);
    
    &:first-child {
      margin-right: 20px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 30px;
      height: 30px;
      background-image: url("../img/icon-1.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

  &__footnote {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
  }
}

.advantages {
  position: relative;
  margin-bottom: 100px;
  overflow: hidden;
  padding-bottom: 40px;

  &__title {
    margin-left: 205px;
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
  }

  &__item {
    text-align: center;
    flex-basis: calc(33.333% - 20px);
    border-radius: 20px;
    background: $white;
    padding: 68px 15px 30px 15px;
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }

    &::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      z-index: -1;
    }

    &_left {
      box-shadow: 40px -10px 50px rgba(229, 233, 246, 0.4);

      &::before {
        width: 208px;
        height: 190px;
        left: -97px;
        bottom: -37px;
        background-image: url("../img/pic-2.png");
      }
    }

    &_center {
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);

      &::before {
        width: 220px;
        height: 210px;
        left: 50%; bottom: -35px;
        transform: translateX(-50%);
        background-image: url("../img/pic-3.png");
        z-index: 0;
      }
    }

    &_right {
      box-shadow: 10px -40px 50px rgba(229, 233, 246, 0.4);
      
      &::before {
        width: 208px;
        height: 190px;
        right: -97px;
        bottom: -37px;
        background-image: url("../img/pic-4.png");
      }
    }
  }

  &__item-title {
    margin-bottom: 32px;
  }
}



// Responsive(Adaptive)
// ////////////////////
// ////////////////////
// ////////////////////
// ////////////////////
// ////////////////////
// ////////////////////
// ////////////////////
// ////////////////////
// ////////////////////